TOKEN = discord_token
DEV_TOKEN = discord_dev_token

PTERODACTYL_API_KEY = ptero_api_key
PTERODACTYL_URL = https://dash.kpotatto.net/
PTERODACTYL_SERVER_ID = server_id
VIRUS_TOTAL_API_KEY = virus_total_api_key
CLIENT_ID = discord_client_id
GEMINI_API_KEY = gemini_api_key
STEAM_API_KEY = steam_api_key
REDDIT_CLIENT_SECRET = reddit_app_client_secret
REDDIT_CLIENT_ID = reddit_app_client_id
REDDIT_REFRESH_TOKEN = reddit_refresh_token

REDDIT_USERNAME = reddit_username
YOUTUBE_COOKIE = youtube_cookie

DEEZER_MASTER_KEY = deezer_master_key
DEEZER_ARL_COOKIE = deezer_arl_cookie

DATABASE_URL = mysql://user:password@host:port/database

OWNER_ID = bot_owner_discord_id
STATUS_CHANNEL_ID = status_channel_discord_id
MEMBERS_UPDATE_ID = members_update_discord_id
SUGGESTION_CHANNEL_ID = suggestion_channel_discord_id
GUILD_UPDATE_ID = guild_update_discord_id

SENTRY_DSN = https://key@sentry.io/0

SERVER = "dev|prod"